##database settings
DATABASE_URL=
DATABASE_CLIENT=


##environment settings 
NODE_ENV=
AUTH_SECRET=
PORT=

##bucket settings
CLOUD_BUCKET_NAME=
CLOUD_ACCESS_KEY=
CLOUD_SECRET_ACESS_KEY=
CLOUD_BUCKET_REGION=

##
STORAGE_TYPE=